<h1>{{ "manage.header" | translate }}</h1>

<form [formGroup]="manageForm">
  <h2>{{ "manage.subHeaders.languages" | translate }}</h2>

  <mat-form-field>
    <mat-label>{{ "manage.language" | translate }}</mat-label>
    <mat-select formControlName="language">
      <mat-option *ngFor="let lang of langs" [value]="lang">
        {{ "manage.languages." + lang | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="db-settings">
  <h2>{{ "manage.subHeaders.database" | translate }}</h2>

  <div (click)="uploadFile.click()">
    <button mat-flat-button animate="fadeIn" color="primary" class="full-size">
      {{ "manage.importDatabase" | translate }}
    </button>
    <input
      #uploadFile
      (change)="importDatabase($event)"
      type="file"
      style="display: none"
      accept=".json"
    />
  </div>

  <button
    mat-flat-button
    animate="fadeIn"
    color="primary"
    (click)="exportDatabase()"
    class="full-size"
  >
    {{ "manage.exportDatabase" | translate }}
  </button>

  <button
    mat-flat-button
    animate="fadeIn"
    *ngIf="!confirmReset"
    color="warn"
    (click)="resetDatabase()"
    class="full-size"
  >
    {{ "manage.resetDatabase" | translate }}
  </button>

  <button
    mat-flat-button
    animate="fadeIn"
    *ngIf="confirmReset"
    color="primary"
    (click)="confirmResetDatabase()"
    class="full-size"
  >
    {{ "manage.confirmResetDatabase" | translate }}
  </button>
</div>
