<h1>{{ "manage.header" | translate }}</h1>

<h2>{{ "manage.subHeaders.profile" | translate }}</h2>
<ng-container *ngIf="user">
  <h3>{{ "manage.credentials" | translate }}</h3>
  <div class="user">
    <img src="{{ user.photoUrl }}" />
    <h3>{{ user.name }}</h3>
    <div>{{ user.email }}</div>
    <pre>{{ user.id }}</pre>
  </div>
  <button
    mat-raised-button
    class="signout"
    animate="fadeIn"
    color="warn"
    (click)="signOut()"
  >
    {{ "manage.signOut" | translate }}
  </button>
</ng-container>

<ng-container *ngIf="!user">
  <a mat-stroked-button (click)="signInWithGoogle()" class="google-signin">
    {{ "manage.signInWithGoogle" | translate }}
  </a>
  <h3>
    <mat-icon>priority_high</mat-icon>{{ "manage.noCredentials" | translate }}
  </h3>
</ng-container>

<form [formGroup]="manageForm">
  <h2>{{ "manage.subHeaders.languages" | translate }}</h2>

  <mat-form-field>
    <mat-label>{{ "manage.language" | translate }}</mat-label>
    <mat-select formControlName="language">
      <mat-option *ngFor="let lang of langs" [value]="lang">
        {{ "manage.languages." + lang | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h2>{{ "manage.subHeaders.sync" | translate }}</h2>

  <mat-form-field>
    <mat-label>{{ "manage.sync" | translate }}</mat-label>
    <mat-select formControlName="sync">
      <mat-option *ngFor="let state of syncStates" [value]="state">
        {{ "manage.syncStates." + state | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-error *ngIf="showOfflineHint">{{
    "manage.offlineError" | translate
  }}</mat-error>
  <div>{{ "manage.backendHealth" | translate }}: {{ backendHealth }}</div>
  <div>{{ "manage.databaseHealth" | translate }}: {{ databaseHealth }}</div>
</form>

<div class="db-settings">
  <h2>{{ "manage.subHeaders.database" | translate }}</h2>

  <div (click)="uploadFile.click()">
    <button
      mat-raised-button
      animate="fadeIn"
      color="primary"
      class="full-size"
    >
      {{ "manage.importDatabase" | translate }}
    </button>
    <input
      #uploadFile
      (change)="importDatabase($event)"
      type="file"
      style="display: none"
      accept=".json"
    />
  </div>

  <button
    mat-raised-button
    animate="fadeIn"
    color="primary"
    (click)="exportDatabase()"
    class="full-size"
  >
    {{ "manage.exportDatabase" | translate }}
  </button>

  <button
    mat-raised-button
    animate="fadeIn"
    *ngIf="!confirmReset"
    color="warn"
    (click)="resetDatabase()"
    class="full-size"
  >
    {{ "manage.resetDatabase" | translate }}
  </button>

  <button
    mat-raised-button
    animate="fadeIn"
    *ngIf="confirmReset"
    color="primary"
    (click)="confirmResetDatabase()"
    class="full-size"
  >
    {{ "manage.confirmResetDatabase" | translate }}
  </button>
</div>
