:host {
  display: block;
  margin: 16px;
  position: absolute;
  top: 0;
  bottom: 56px;
  left: 0;
  right: 0;
}

.container {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;

  &.start,
  &.end {
    display: grid;
    grid-template-rows: auto 36px;
    grid-gap: 16px;
    .info {
      text-align: center;
      font-size: medium;

      .smiley {
        font-size: 30vh;
        line-height: 50vh;
        width: 100%;
      }
    }
  }
}

.flashcard {
  transition: all 0.3s ease-in;
  transform-style: preserve-3d;

  .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: min-content auto min-content 0;
    padding-bottom: 4px;
  }

  .front {
    transform: translateZ(1px);
    height: calc(100vh - 164px);
    display: grid;
    grid-template-rows: min-content auto min-content 0;
    padding-bottom: 4px;
  }

  &.rotate-y {
    transform: rotateY(0);

    &.flipped {
      transform: rotateY(180deg);
    }

    .back {
      transform: rotateY(180deg) translateZ(0);
    }
  }
  &.rotate-x {
    transform: rotateX(0);

    &.flipped {
      transform: rotateX(180deg);
    }

    .back {
      transform: rotateX(180deg) translateZ(0);
    }
  }
}

.hint {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  > div {
    grid-column: 1 / 3;
    text-align: center;
    line-height: 2em;
  }
}

.good {
  background-color: #6d8c00;
}

.bad {
  background-color: #e94354;
}
