.layout {
  display: grid;
  grid-template-areas: "content" "toolbar";
  grid-template-rows: 1fr min-content;

  @media only screen and (min-width: 720px) {
    grid-template-areas: "toolbar content";
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;
  }

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .content {
    grid-area: content;
    overflow-y: auto;
    @media only screen and (min-width: 720px) {
      max-width: 1024px;
      max-height: 100%;
    }
  }

  .settings {
    position: absolute;
    padding: 12px;
    margin-right: 4px;
    right: 0;
    top: 0;

    button.mat-hidden {
      display: none;
    }
  }

  .toolbar {
    grid-area: toolbar;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (min-width: 720px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 64px);
      height: 100%;
    }

    button {
      margin: auto;
    }
  }
}
