<div class="mat-typography layout">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="adbar">Ads</div>
  <div class="settings">
    <button
      routerLink="/manage"
      routerLinkActive
      #manage="routerLinkActive"
      mat-icon-button
      color="{{ manage.isActive ? 'hidden' : '' }}"
      attr.aria-label="{{ 'aria.toolbar.manage' | translate }}"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <button
      routerLink="/decks"
      mat-icon-button
      color="{{ manage.isActive ? '' : 'hidden' }}"
      attr.aria-label="{{ 'aria.toolbar.decks' | translate }}"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
